
<div class="student_info" >
<%= notice %>
<h1>Welcome, Admin!</h1>

<%= link_to "Admin List", adminlist_path %>
<%= link_to "Student List", userlist_path %>
<%= link_to "Course List", courses_path %>
</div>
