

<%= google_webfonts_init({
    google: ['Fira Sans', 'Roboto']
  }) %>
 

  
<div class="index_header">
  <div><%= image_tag "pics2.PNG", :class => "img2" %></div> <br>
  <div class="openheader">Welcome, Students!</div>
</div>

