// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing_admin{
  position:relative;
  left:117px;
  border:1px solid black;
  width:600px;
}