// Place all the styles related to the adminsessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginform2{
  margin-right:auto;
  margin-left:auto;
  width: 87vw;
  background-color: #F8F8F8;
  padding-top:5px;
  padding-left:20px;
  padding-right:20px;
  height:calc(100vh - 130px);
  height:-webkit-calc(100vh - 130px); /* google, safari */
  height:-moz-calc(100vh - 130px); /* firefox */

}

.row.ff{
  width:30vw;
  margin-right: auto;
  margin-left: auto;
}

.invalid_notice{
  position:relative;
  left:117px;
  top:15px;
  font-family: "Fira Sans";
  font-size: 20px;
}

.alert, .alert-success, .notice{
  position:absolute;
  width:450px;
  background-color:#F8F8F8;
  border:none;
  font-family: "Fira Sans";
  font-size: 20px;
  color: #EB2126;
}