// Place all the styles related to the Enrollments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.listing_enrolls{
  margin-right:auto;
  margin-left:auto;
  width: 75%;
  background-color: #F8F8F8;
  padding-top:5px;
  padding-left:20px;
  padding-right:20px;
  height:calc(100vh - 130px);
  height:-webkit-calc(100vh - 130px); /* google, safari */
  height:-moz-calc(100vh - 130px); /* firefox */
}
