// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_header{
  position:relative;
  left:117px;
  top:30px;
  font-family: "Fira Sans";
  font-weight: bold;
  font-size: 32px;
  float: left;
}

.qoute1_div{
  position:relative;
  border:1px solid black;
  width:200px;
  height:200px;
}