// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginform{
  position:absolute;
  left:550px;
  top:190px;
}

.student_info{
  position:absolute;
  left:117px;
  font-family: "Fira Sans";
  
}

.invalid_notice{
  position:relative;
  left:117px;
  top:15px;
  font-family: "Fira Sans";
  font-size: 20px;
}

.alert, .alert-success, .notice{
  position:relative;
  right:100px;
  width:400px;
  
}